.form{
  justify-content: center;
  height: 100vh;
}

.light-theme{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dark-theme{
  background-color: crimson;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.but{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to right,purple , blue);

}
.but2{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to right,yellow ,rgb(0, 255, 85));
}